.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2.5rem 15rem 10rem;
    gap: 2rem;

    max-width: 1440px;
    margin: 0 auto;
}

.wrapper h2 {
    font-family: 'Baloo 2', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 130%;
    color: var(--color-subtitle);
    margin-bottom: 0.94rem;
}

.deliveryAdress,
.payment {
    border-radius: 6px;
    padding: 2.5rem;
    background: var(--color-card);
}

.payment {
    margin-top: 0.75rem;
}

.cardHeader {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.cardHeader .iconYellow {
    color: var(--color-yellow-dark);
}

.cardHeader .iconPurple {
    color: var(--color-purple);

}

.cardHeader h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 130%;
    color: var(--color-subtitle);
}

.cardHeader p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 130%;
    color: var(--color-text);
}

.selectedCoffees {
    padding: 2.5rem;
    border-radius: 0.38rem 2.75rem;
    background: var(--color-card);
}

.selectedCoffees footer {
    padding-top: 1.5rem;
    display: grid;
    gap: 1.5rem;
}

.selectedCoffees footer button {
    border: none;
    border-radius: 0.38rem;
    padding: 0.75rem 0.5rem;

    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 160%;
    text-transform: uppercase;
    color: var(--color-white);

    background: var(--color-yellow);
}

.selectedCoffees footer button:hover {
    background: var(--color-yellow-dark);
}

.selectedCoffees footer button:disabled {
    background: var(--color-yellow-dark);
    opacity: 70%;
    cursor: not-allowed;
}

.textPrices {
    display: grid;
    gap: 0.75rem;
}

.textPrices p {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    line-height: 130%;
}

.textPrices p > span {
    font-size: 1rem;
}

.textPrices strong,
.textPrices strong span {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-subtitle);
}

.emptyCart {
    display: grid;
    gap: 1rem;
}

.emptyCart button {
    width: 100%;
}

.emptyCartSadFace {
    font-size: 2rem;
    color: var(--color-label);
    margin-bottom: 0.5rem;
}