.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;

    max-width: 1440px;
    margin: 0 auto;
}

.header .menuWraper {
    display: flex;
    gap: 0.75rem;
}

.header .locationWraper {
    display: flex;
    gap: 0.25rem;
    background: var(--color-purple-light);
    padding: 0.5rem;
    border-radius: 0.38rem;
}

.locationWraper .mapIcon {
    color: var(--color-purple);
}

.locationWraper p {
    color: var(--color-purple-dark);
}


@media(max-width: 930px) {
    .header {
        padding: 3rem 5rem;
        gap: 2rem;
    }
}
@media(max-width: 580px) {
    .header {
        padding: 2rem 3rem;
    }
}